@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

*{
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #f1f1f1;
    padding: 15px;
    position: relative;
    padding-bottom: 120px;
}

.img_bg{
    background-color: white;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom:-75px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.profile_pic{
    width: 100%;
    padding: 10px;
    border-radius: 50%;
}

.container{
    overflow: auto;
    margin-top: 100px;
}

p{
    word-wrap: break-word;
}

.menu_container{
    padding: 10px;
    float: left;
    width: 20%;
}

.menu{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px 20px;
}

.menuitem{
    cursor: pointer;
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
    word-wrap: break-word;
}

.main{
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 25px;
    background-color: lightblue;
}

.main_container{
    padding: 10px;
    float: left;
    width:60%;
}

.right_container{
    padding: 10px;
    float: left;
    width: 20%;
}

.right{
    background-color: lightblue;
    padding: 10px 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.footer{
    background-color: #f1f1f1;
    font-size: 12px;
    text-align: center;
    margin-top: 7px;
    padding: 10px;
}

.footer_img{
    width: 20px;
}

.fixed {position:fixed; top: 0;}
.fixed_right {position: fixed; top: 0; right: 0;}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main_container {
      width: 80%;
    }
    .right_container {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu_container, .main_container, .right_container {
      width: 100%;
    }
  }
