@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

.body-dark {
  color: white;
  background: #121212;
}

.header {
  background-color: #f1f1f1;
  padding: 15px;
  position: relative;
  padding-bottom: 100px;
}

.header-dark {
  background-color: #1f1f1f;
  padding: 15px;
  position: relative;
  padding-bottom: 100px;
}

.header span:first-child {
  color: green;
}
.header span:last-child {
  color: green;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.img_bg {
  background-color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.img_bg-dark {
  background: #121212;
}

.profile_pic {
  width: 100%;
  padding: 10px;
  border-radius: 50%;
}

.bar {
  position: absolute;
  top: 25px;
  right: 0;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 12.5px;
  background: gray;
  border-radius: 20px;
  cursor: pointer;
}

.circle {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 5px grey;
}

.circle-dark {
  box-shadow: none;
  left: 100%;
  content: url("../images/half-moon.svg");
}

.container {
  overflow: auto;
  margin-top: 100px;
}

p {
  word-wrap: break-word;
}

.hamburger {
  position: fixed;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  width: 100%;
  display: none;
  bottom: 0;
}

.hamburger-dark {
  background: #1f1f1f;
}

.hamburger img {
  display: block;
}

.menu_container {
  padding: 10px;
  float: left;
  width: 20%;
}

.menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: white;
}

.menu-dark {
  background: #1f1f1f;
}

.menu a {
  text-decoration: none;
}

.menuitem {
  cursor: pointer;
  padding: 15px 28px 8px 28px;
  word-wrap: break-word;
  position: relative;
}

.menuitem:first-child {
  padding-top: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.menuitem:last-child {
  padding-bottom: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.menuitem:hover {
  background: #f1f1f1;
}

.menuitem-dark:hover {
  background: black;
}

.menuitem img {
  float: right;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
}

.menuitem:not(:last-child)::after {
  content: "";
  height: 1px;
  width: calc(100% - 40px);
  background: #f1f1f1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.menuitem-dark:not(:last-child)::after {
  background: #1f1f1f;
}

.menuitem-dark-after:not(:last-child)::after {
  background: black;
}

.menuitem-light-after:not(:last-child)::after {
  background: #f1f1f1;
}

.menuitem-dark-before:not(:last-child)::after {
  background: #1d1d1d;
}

.menuitem-light-before:not(:last-child)::after {
  background: white;
}

.main {
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s;
  margin-bottom: 25px;
}

.main-dark {
  background: #1f1f1f;
}

.main_container {
  padding: 10px;
  float: left;
  width: 60%;
}

.main_container-dark a {
  color: #58dbc6;
}

#skills p {
  display: flex;
  align-items: center;
}

#skills img {
  margin-right: 2rem;
  width: 20px;
  height: 20px;
}

.right_container {
  padding: 10px;
  float: left;
  width: 20%;
}

.right {
  background-color: lightblue;
  padding: 10px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.right-dark {
  background: #58dbc6;
  color: black;
}

.right-dark a {
  color: #282c34;
}

.footer {
  background-color: #f1f1f1;
  font-size: 12px;
  text-align: center;
  margin-top: 7px;
  padding: 10px;
}

.footer-dark {
  background: #1f1f1f;
}

.footer_img {
  width: 20px;
}

.footer_img-dark {
  content: url("../images/github.png");
}

.fixed {
  position: fixed;
  top: 0;
}

.fixed_right {
  position: fixed;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .menu_container,
  .main_container,
  .right_container {
    width: 100%;
  }

  .menu_container {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .menu-dark {
    background: black;
  }
}

/*# sourceMappingURL=style.css.map */
